body{
    font-family: 'Poppins', sans-serif;
}
.custom-color-nav{
    background-color: white;
}

.buy-now-button{
    background-color: black;
    color:white;
    border: none;
    border-radius:8px;
    padding: 9px 25px;
    cursor: pointer;
}
.carousel-item{
    padding:20px 40px;
}
.container{
    margin-top:50px;
}
.orange-bg{
    background-color:whitesmoke;
    border-radius: 10px;
}
.carousel-indicators li {
    background-color: gray;
    height: 7px;
    width: 12px;
    border-radius: 100px;
    border: none;
}

.carousel-indicators .active {
    background-image: linear-gradient(to left,#ffb15dee 0%,#FF9C35 100%);
    width: 30px;
}

.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
    padding: 20px 20px;
}

.card-body{
    text-align: center;
}

.card-footer{
    background-color: white;
    border-top: none;
}

.expand{
    color:orange;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}



hr.middle{
        border: 4px solid orange;
        border-radius: 5px;
        text-align: center;
        width: 50px;
        margin-top: -37px;
        margin-bottom: 100px;
    
}
.cat-beauty{
    margin-bottom: 30px;
}

.cat-beauty h4{
    margin-top: 20px;
    margin-left: 10px;
}

.cat-bag h4{
    margin-top: 20px;
    
}

.footer-section{
    margin-top: 100px;
    margin-bottom: 100px;
}

footer{
    text-align: center;
    color: gray;
}